{% extends 'base.html' %}
{% block head_title %}Home{% endblock head_title %}
{% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Welcome to Tweetme<h1>
  </div>
</div>
<!-- 1:57 -->
<div class="row mb-4">
  <div class="col-md-4 mx-auto col-10">
    <form class="form" method="POST" action="/create-tweet">
      {% csrf_token %}
      <input type="hidden" value="/" name="next" />
      <textarea class="form-control" name="content" placeholder="Your Tweet ..."></textarea>
      <button type="submit" class="btn btn-primary">Tweet</button>
    </form>
  </div>
</div>

<div class="row" id="tweets">
  Replace Me
</div>

<script>
  const tweetsElement = document.getElementById("tweets")

  const xhr = new XMLHttpRequest()
  const method = "GET"
  const url = "/tweets"
  const responseType = "json"

  function handleDidLike(tweet_id, currnetCount) {
    console.log(tweet_id, currnetCount)
  }

  function likeBtn(tweet) {
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" +
    tweet.id + "," +
    tweet.likes +
    ")>" +
    tweet.likes +
    " Like</button>"
  }

  function formatTweetElement(tweet) {
    return "<div class='col-12 col-md-12 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" +
      tweet.id + "'><p>" +
      tweet.content +
      "</p><div class='btn-group'>"+
      likeBtn(tweet) +
      "</div></div>"
  }

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function() {
    const serverResponse = xhr.response
    var listedItems = serverResponse.response
    var finalTweetStr = ""

    for(let data of listedItems) {
      var currentItem = formatTweetElement(data)
      finalTweetStr += currentItem
    }
    tweetsElement.innerHTML = finalTweetStr
  }
  xhr.send()
</script>
{% endblock content %}